@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smallText: #5c6b6c;
  --buttons: #00474b;
  --btnClicked: #26c2ad;
  --btnHover: #2f6c64;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #c5e4e7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 30px;
  height: fit-content;
  border-radius: 20px;
  background-color: #fff;
  width: fit-content;
  padding: 20px;
}

.input {
  background-color: #f1f3f5;
  border: none;
  width: 100%;
  height: 25px;
  border-radius: 4px;
  padding: 3px 10px;
}

.bill-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

p {
  color: var(--smallText);
  display: flex;
}

.card-labels {
  font-size: small;
  font-weight: 600;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: bolder;
  font-size: medium;
  padding: 5px;
  width: 85px;
  border-radius: 5px;
  color: var(--buttons);
}

.second-card {
  background-color: #00474b;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
}

.button-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
}

.main-btn {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  /* margin auto is used to center an element horizontally within it's container. In this case, specifying a value before auto is used to add margin to the top and bottom of the element. */
  margin: 5px auto;
  background-color: rgb(61, 129, 104);
  color: #fff;
  background-color: var(--buttons);
}

.main-btn:hover {
  background-color: var(--btnClicked);
  color: var(--buttons);
}

.custom {
  font-family: "Space Mono", monospace;
  font-weight: bolder;
  font-size: medium;
  background-color: #f3f8fc;
  color: #587978;
  width: 85px;
  height: 35px;
  text-align: center;
}

.second-card button {
  border: none;
  border-radius: 5px;
  color: var(--buttons);
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--btnClicked);
  width: 100%;
  letter-spacing: 1px;
  margin-top: 60%;
}

.tip-details {
  display: flex;
  margin-top: 15px;
  gap: 100px;
}

.tip-details p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.bold-txt {
  color: #fff;
}

input[type="text"] {
  font-size: 20px;
  font-weight: bold;
  color: #00474b;
}

.tip-details h2 {
  color: var(--btnClicked);
}

.svg-position {
  position: relative;
  display: flex;
}

.svg-position input {
  text-align: end;
}

.svg-position img {
  position: absolute;
  top: 23px;
  left: 10px;
}

input:focus {
  outline: 2px solid green;
  border: none;
}

@media (max-width: 428px) {
  body {
    background-color: #c5e4e7;
  }

  .button-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }

  button {
    font-family: "Space Mono", monospace;
    font-weight: bolder;
    font-size: medium;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    color: var(--buttons);
  }

  .custom {
    font-family: "Space Mono", monospace;
    font-weight: bolder;
    font-size: medium;
    background-color: #f3f8fc;
    color: #587978;
    width: 90%;
    height: 35px;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .splitter {
    margin: 0;
    text-align: center;
    letter-spacing: 10px;
  }

  .second-card button {
    margin-top: 30px;
  }
}
